/* main view */
body{
    display: flex;
    flex-flow: column;
    background-color: #fefdf7;
    color: #394166;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #394166;
    font-size: 30px;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header > div {
    width: auto;
}
main {
    flex-direction: column;
}
main > div > div, main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
main > div > p {
    padding-bottom: 30px;
}
#penguins > div {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
}
.drkBtn{
    background-color: #394166;
    border: 2px solid #394166;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    color: white;
}
#login {
    border: 2px solid #394166;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}
h2 {
    color: #6cd0f3;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #fefcdd;
    height: 100%;
}
footer > div {
    width: auto;
}
footer > div > a {
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}
svg { 
    width: 100%; 
    height: auto; 
}

/* end view */
@media screen and (max-width: 1024px){
    body {
    display: flex;
    flex-flow: column;
    background-color: #fefdf7;
    color: #394166;
    flex-wrap: wrap;
    font-size: medium;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fefcdd;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    header > div {
        width: auto;
    }
    footer {
        padding: 20px;
    }
    footer > div {
        padding: 20px;
    }
    svg { 
        width: 100%; 
        height: auto; 
        padding: 15px;
    }
}