/* main view */
body{
    display: flex;
    flex-flow: column;
    background-color: #fefdf7;
    color: #394166;
    flex-wrap: wrap;
}
a {
    color: #394166;
    font-size: 30px;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header > div {
    width: auto;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
main > div > div, main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
a {
    text-decoration: none;
}
.drkBtn{
    background-color: #394166;
    border: 2px solid #394166;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    color: white;
}
#login {
    border: 2px solid #394166;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}
h2 {
    color: #6cd0f3;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #fefcdd;
    margin: 0;
    height: 100%;
}
footer > div {
    width: auto;
}
footer > div > a {
    flex-direction: row;
}

/* end view */
@media screen and (max-width: 1024px){
    body {
    display: flex;
    flex-flow: column;
    background-color: #fefdf7;
    color: #394166;
    flex-wrap: wrap;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fefcdd;
        margin: 0;
        height: 100%;
    }

}